.hero {
    position: absolute;
}

html,
body.fullscreen,
body.fullscreen section,
body.fullscreen section .container,
body.fullscreen section .container #stage {
    height: 100%;

}

body.fullscreen section .container #stage {
    background: #eee;
    position: relative;
}

#right-bar {
    position: absolute;
    width: 100px;
    height: 30px;
    border: 3px solid black;
    top: 20px;
    right: 20px;
}

#door {
    position: absolute;
    width: 200px;
    height: 300px;
    border: 3px solid black;
    bottom: 20px;
    right: 20px;
    background-image: url(../images/door.png); 
}

#sword {
    position: absolute;
    width: 22px;
    height: 99px;
    bottom: 300px;
    right: 600px;
    background-image: url(../images/sword.png); 
}